<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit TODO</title>
</head>
<body>
<h1>Edit TODO</h1>
<form th:action="@{/edit/{id}(id=${todo.id})}" th:object="${todo}" method="post">
    <label>Title: <input type="text" th:field="*{title}"/></label><br/>
    <label>Description: <input type="text" th:field="*{description}"/></label><br/>
    <label>Completed: <input type="checkbox" th:field="*{completed}"/></label><br/>
    <button type="submit">Update TODO</button>
</form>
<a href="/">Back</a>

</body>
</html>